{% extends "base.html" %}
{%block title%} Tabella Giornalisti {% endblock title%} 
{%block content%} 

Tabella Giornalisti

{%endblock content%} 

{%block script%} 

<script>

    const url = "https://mancinmatteo.eu.pythonanywhere.com/news/giornalisti_list_api/";

    (async function () {

        const response = await fetch(url);
        const result = await response.json();

        console.log(result);

        let tabella = "<table class='table table-striped table-hover'><tr><th>Nome</th><th>Cognome</th></tr>";
        
        for (const data in result) {

            for (let i = 0; i < result[data].length; i++) {
                tabella += "<tr>";
                tabella += `<td>${result[data][i].nome}</td>`;
                tabella += `<td>${result[data][i].cognome}</td>`;
                tabella += "</tr>";
            }
        
        }
        tabella += "</table>";

        document.body.innerHTML += tabella;

    })();

</script>

{%endblock script%}

